In [1]:
# import
import pandas as pd
import sqlite3
import numpy as np
from sqlite3 import Error
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

versions_v2_02091742

# Table of content:

- ## [Functions](#Functions)
- ## [Joining](#Joining):
    - [Strategy](#Strategy)
    - [Feature engineering](#feature-engineering):
        - [Create meaningful columns](#create-meaningful-columns)
        - [Cleaning dataframe](#cleaning-dataframe)
        - [Missing values](#missing-values)

- ## [Database](#Database):

Acronyms and Definition:

+ fsq = FourSquare (API)
+ yelp = Yelp (API)
+ poi(s) = Point Of Interest(s)
+ stations = Bike rental station (Bixi - Montr√©al, Qc, Canada)

## Functions

In [2]:
# Function to rename columns in a DataFrame
def rename_columns(df, rename_dict):
    df.rename(columns=rename_dict, inplace=True)

## Joining

In [3]:
# Load data from sources
stations = pd.read_csv('../data/stations.csv', index_col=None)
fsq_pois = pd.read_csv('../data/fsq_businesses.csv', index_col=None)
yelp_pois = pd.read_csv('../data/yelp_businesses.csv', index_col=None)

### Strategy

- Create a combined dataframe with both Yelp and FourSquare data for the creation of the SQLite database.
<br>See [Database](#Database) section.
- Filter the combined date with Yelp API only for the first model, and both for the second model.

### Feature engineering

#### Create meaningful columns

In [4]:
# Change some columns name to match both data
# FSQ
fsq_rename_dict = {
    'fsq_id': 'api_number'
}

# Yelp:
yelp_rename_dict = {
    'id': 'api_number',
    'category_alias': 'category_name',
    'rating': 'original_rating',
    'scaled_rating': 'rating'
}

# Apply rename_columns to both DataFrames
rename_columns(fsq_pois, fsq_rename_dict)
rename_columns(yelp_pois, yelp_rename_dict)

In [5]:
# Create api_name to differentiate the POI provenance and api_number
fsq_pois['api_name'] = "FourSquare"
yelp_pois['api_name'] = "Yelp"

In [6]:
# Create POI id for easier reference using the rank method to assign unique integers to each unique api_number

# Yelp:
yelp_pois['poi_id'] = yelp_pois['api_number'].rank(method='dense').astype(int) - 1 # start from 0

# Register the last poi_id
starting_number = yelp_pois['poi_id'].max()

# FSQ:
fsq_pois['poi_id'] = fsq_pois['api_number'].rank(method='dense').astype(int) + starting_number

In [7]:
# Validate
print(starting_number)
print(yelp_pois['poi_id'].sort_values().tail(1))
print(fsq_pois['poi_id'].sort_values().head(1))

2424
1527    2424
Name: poi_id, dtype: int64
34100    2425
Name: poi_id, dtype: int64

In [8]:
fsq_pois.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59349 entries, 0 to 59348
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   api_number     59349 non-null  object
 1   name           59349 non-null  object
 2   s_lat          59349 non-null  float64
 3   s_lon          59349 non-null  float64
 4   p_lat          59349 non-null  float64
 5   p_lon          59349 non-null  float64
 6   category_id    59349 non-null  int64
 7   category_name  59349 non-null  object
 8   distance       59349 non-null  int64
 9   rating         39961 non-null  float64
 10  popularity     51230 non-null  float64
 11  price          43531 non-null  float64
 12  station        59349 non-null  int64
 13  api_name       59349 non-null  object
 14  poi_id         59349 non-null  int64
dtypes: float64(7), int64(4), object(4)
memory usage: 6.8+ MB

In [9]:
yelp_pois.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22394 entries, 0 to 22393
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   api_number       22394 non-null  object
 1   name             22394 non-null  object
 2   original_rating  22394 non-null  float64
 3   price            17393 non-null  float64
 4   review_count     22394 non-null  int64
 5   s_lat            22394 non-null  float64
 6   s_lon            22394 non-null  float64
 7   p_lat            22394 non-null  float64
 8   p_lon            22394 non-null  float64
 9   category_name    22394 non-null  object
 10  distance         22394 non-null  int64
 11  rating           22394 non-null  float64
 12  station          22394 non-null  int64
 13  api_name         22394 non-null  object
 14  poi_id           22394 non-null  int64
dtypes: float64(7), int64(4), object(4)
memory usage: 2.6+ MB

In [10]:
# Reset the index of both DataFrames
fsq_pois.reset_index(drop=True, inplace=True)
yelp_pois.reset_index(drop=True, inplace=True)

# Create combined dataframe
combined_df = pd.concat([fsq_pois, yelp_pois], keys=['fsq_pois', 'yelp_pois'], ignore_index=True)

In [11]:
combined_df.head()

,api_number,name,s_lat,s_lon,p_lat,p_lon,category_id,category_name,distance,rating,popularity,price,station,api_name,poi_id,original_rating,review_count
0,4cb240b8cbab236ae154af73,Restaurant Prima Luna,45.6175,-73.606011,45.617439,-73.593995,13236.0,Italian Restaurant,941,7.4,0.985,1.0,790,FourSquare,4078,NaN,NaN
1,4e0b48221f6edc06be259aec,Salle D√©silets,45.6175,-73.606011,45.617818,-73.606000,10039.0,Music Venue,19,NaN,0.969,NaN,790,FourSquare,4392,NaN,NaN
2,4e0b48221f6edc06be259aec,Salle D√©silets,45.6175,-73.606011,45.617818,-73.606000,11130.0,Office Building,19,NaN,0.969,NaN,790,FourSquare,4392,NaN,NaN
3,4ea9b28cb803cf1ffacd7c0d,Caf√© l'Exil,45.6175,-73.606011,45.617214,-73.604961,13034.0,Caf√©,79,NaN,0.869,1.0,790,FourSquare,4519,NaN,NaN
4,4ea9b28cb803cf1ffacd7c0d,Caf√© l'Exil,45.6175,-73.606011,45.617214,-73.604961,13035.0,Coffee Shop,79,NaN,0.869,1.0,790,FourSquare,4519,NaN,NaN

#### Cleaning dataframe

In [16]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81743 entries, 0 to 81742
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   api_number       81743 non-null  object
 1   name             81743 non-null  object
 2   s_lat            81743 non-null  float64
 3   s_lon            81743 non-null  float64
 4   p_lat            81743 non-null  float64
 5   p_lon            81743 non-null  float64
 6   category_id      59349 non-null  float64
 7   category_name    81743 non-null  object
 8   distance         81743 non-null  int64
 9   rating           62355 non-null  float64
 10  popularity       51230 non-null  float64
 11  price            60924 non-null  Int64
 12  station          81743 non-null  int64
 13  api_name         81743 non-null  object
 14  poi_id           81743 non-null  int64
 15  original_rating  22394 non-null  float64
 16  review_count     22394 non-null  float64
dtypes: Int64(1), float64(9), int64(3), object(4)
memory usage: 10.7+ MB

In [22]:
combined_df['category_id'] = combined_df['category_id'].astype('Int64')
combined_df['price'] = combined_df['price'].astype('Int64')
combined_df['review_count'] = combined_df['review_count'].astype('Int64')
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81743 entries, 0 to 81742
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   api_number       81743 non-null  object
 1   name             81743 non-null  object
 2   s_lat            81743 non-null  float64
 3   s_lon            81743 non-null  float64
 4   p_lat            81743 non-null  float64
 5   p_lon            81743 non-null  float64
 6   category_id      59349 non-null  Int64
 7   category_name    81743 non-null  object
 8   distance         81743 non-null  int64
 9   rating           62355 non-null  float64
 10  popularity       51230 non-null  float64
 11  price            60924 non-null  Int64
 12  station          81743 non-null  int64
 13  api_name         81743 non-null  object
 14  poi_id           81743 non-null  int64
 15  original_rating  22394 non-null  float64
 16  review_count     22394 non-null  Int64
dtypes: Int64(3), float64(7), int64(3), object(4)
memory usage: 10.8+ MB

In [23]:
combined_df.head()

,api_number,name,s_lat,s_lon,p_lat,p_lon,category_id,category_name,distance,rating,popularity,price,station,api_name,poi_id,original_rating,review_count
0,4cb240b8cbab236ae154af73,Restaurant Prima Luna,45.6175,-73.606011,45.617439,-73.593995,13236,Italian Restaurant,941,7.4,0.985,1,790,FourSquare,4078,NaN,<NA>
1,4e0b48221f6edc06be259aec,Salle D√©silets,45.6175,-73.606011,45.617818,-73.606000,10039,Music Venue,19,NaN,0.969,<NA>,790,FourSquare,4392,NaN,<NA>
2,4e0b48221f6edc06be259aec,Salle D√©silets,45.6175,-73.606011,45.617818,-73.606000,11130,Office Building,19,NaN,0.969,<NA>,790,FourSquare,4392,NaN,<NA>
3,4ea9b28cb803cf1ffacd7c0d,Caf√© l'Exil,45.6175,-73.606011,45.617214,-73.604961,13034,Caf√©,79,NaN,0.869,1,790,FourSquare,4519,NaN,<NA>
4,4ea9b28cb803cf1ffacd7c0d,Caf√© l'Exil,45.6175,-73.606011,45.617214,-73.604961,13035,Coffee Shop,79,NaN,0.869,1,790,FourSquare,4519,NaN,<NA>

#### Missing values
Let see if we can find a way to reconnect the same POI from both API.

In [37]:
# Filter unique api_number, sort per p_lat, p_lon
sorted_df = (
    combined_df[['station', 'name', 'p_lat', 'p_lon', 'poi_id', 'api_name', 'api_number']]
    .drop_duplicates(subset=['api_number'])
    .sort_values(['p_lat', 'p_lon', 'poi_id'])
)
filtered_df = sorted_df[sorted_df.duplicated(subset='name', keep=False)].reset_index(drop=True).copy()
print(filtered_df.head(10))

   station                         name      p_lat      p_lon  poi_id  \
0      564  Lasalle Drive-In Restaurant  45.415116 -73.621609    3479
1      564  Lasalle Drive-In Restaurant  45.415137 -73.621927     715
2      564            Capitales Burgers  45.417063 -73.620510    2119
3      564            Capitales Burgers  45.417193 -73.620034    5216
4      564               Ayo Restaurant  45.420987 -73.631326    4773
5      564               Ayo Restaurant  45.421010 -73.631280       6
6      559             Grillades Torino  45.421681 -73.493897     195
7      531                   Le Saucier  45.422707 -73.612000     238
8      417           Buffalo Bill Wings  45.423378 -73.641848    2958
9      417                 Double Pizza  45.423480 -73.641740    1372

     api_name                api_number
0  FourSquare  4b884e1ff964a520f1ed31e3
1        Yelp    IaUx8KmmqY2Z-58d_E0_mg
2        Yelp    sWFGuy-45ZGz4g9hn4ZVyw
3  FourSquare  55c6637d498eff6d60471a8c
4  FourSquare  50be8855e4b0c56b41b2aecc
5        Yelp    -DXRTcIIFSDFaec9SozG3A
6        Yelp    4W8aG-VqWKJaan3jhrxxAg
7        Yelp    5jNkYnWI2yp0RYzgdn5wzA
8  FourSquare  44e4f1d847b74f4462370945
9        Yelp    Zw5EbC4ICkK3UP9iaKtn_g

The locations slightly diverge. We could try to reassign the Min(poi_id) (the one created for Yelp) when the name is similar within the same station and next to each other (p.lat, p_lon).

In [38]:
filtered_df['updated_poi_id'] = filtered_df['poi_id']
df = filtered_df

# Iterate over rows in the DataFrame
for index, row in df.iterrows():
    if index < len(df) - 1:
        # Check if the current row and the next row have similar 'name', 'station', and are adjacent
        pattern = re.compile(re.escape(row['name']), re.IGNORECASE)

        # Check if the current row's 'name' or the next row's 'name' matches the pattern
        if (
            (pattern.search(row['name']) or pattern.search(df.at[index + 1, 'name']))
            and row['station'] == df.at[index + 1, 'station']
        ):
            # Update the 'updated_poi_id' column with the minimum poi_id value
            df.at[index + 1, 'updated_poi_id'] = min(row['poi_id'], df.at[index + 1, 'poi_id'])
print(filtered_df.head(10))

   station                         name      p_lat      p_lon  poi_id  \
0      564  Lasalle Drive-In Restaurant  45.415116 -73.621609    3479
1      564  Lasalle Drive-In Restaurant  45.415137 -73.621927     715
2      564            Capitales Burgers  45.417063 -73.620510    2119
3      564            Capitales Burgers  45.417193 -73.620034    5216
4      564               Ayo Restaurant  45.420987 -73.631326    4773
5      564               Ayo Restaurant  45.421010 -73.631280       6
6      559             Grillades Torino  45.421681 -73.493897     195
7      531                   Le Saucier  45.422707 -73.612000     238
8      417           Buffalo Bill Wings  45.423378 -73.641848    2958
9      417                 Double Pizza  45.423480 -73.641740    1372

     api_name                api_number  updated_poi_id
0  FourSquare  4b884e1ff964a520f1ed31e3            3479
1        Yelp    IaUx8KmmqY2Z-58d_E0_mg             715
2        Yelp    sWFGuy-45ZGz4g9hn4ZVyw            2119
3  FourSquare  55c6637d498eff6d60471a8c            2119
4  FourSquare  50be8855e4b0c56b41b2aecc            4773
5        Yelp    -DXRTcIIFSDFaec9SozG3A               6
6        Yelp    4W8aG-VqWKJaan3jhrxxAg             195
7        Yelp    5jNkYnWI2yp0RYzgdn5wzA             238
8  FourSquare  44e4f1d847b74f4462370945            2958
9        Yelp    Zw5EbC4ICkK3UP9iaKtn_g            1372

- Lets validate name of same poi_id

In [ ]:
# Filter to select rows where 'api_name' is different
filtered_df = combined_df[combined_df['api_name'] != combined_df['api_name'].shift()][['poi_id', 'name']]
print(filtered_df)

In [ ]:
max_yelp = combined_df[combined_df['api_name'] == "Yelp"]['poi_id'].max()
print(combined_df['api_number'].unique().shape[0])

In [ ]:
# Save combined data for SQLite3 database
combined_df.to_csv('../data/yelp_and_fsq.csv', index=False)

#### 2) Create dataframes

In [ ]:
# Grouping the POI per stations with their chacteristics
grouped_df = combined_df[['station','distance', 'review_count', 'rating', 'popularity', 'price']].groupby('station').mean().sort_values('station')
grouped_df.head()

In [ ]:
# Merge with stations
merge_df = pd.merge(stations, grouped_df, on='station', how='outer') # Outer, not to lose any station with no data.
print(merge_df.head())
print(merge_df.shape[0])

In [ ]:
# Create the dataframe
bike_rentals = merge_df[['station', 'total_bikes', 'review_count', 'rating', 'popularity', 'price']]

### Cleaning data

In [ ]:
bike_rentals.info()

- Looks like we have some stations with no data

In [ ]:
# Show the nulls
print(bike_rentals[bike_rentals.isnull().any(axis=1)])

Instead of removing these stations (with a good amount of bikes), we could replace the characteristics with the mean of similar stations with same quantity of bikes

In [ ]:
# Create a function to replace NaN value with mean when total_bikes is similar
def replace_nan_with_mean(row):
    df = bike_rentals
    total_bikes = row['total_bikes']
    bike_range = 5
    
    similar_rows = df[(df['total_bikes'] >= total_bikes - bike_range) & 
                      (df['total_bikes'] <= total_bikes + bike_range)]
    
    mean_values = similar_rows.mean()
    row = row.fillna(mean_values)
    return row

# Apply the function to rows with NaN values
new_bike_rentals = bike_rentals.apply(lambda row: replace_nan_with_mean(row) if row.isnull().any() else row, axis=1)

print(new_bike_rentals[new_bike_rentals.isnull().any(axis=1)])
print(new_bike_rentals.info())

In [ ]:
new_bike_rentals.describe()

In [ ]:
# Save the clean dataframe
new_bike_rentals.to_csv('../data/bike_rentals.csv', index=False)

## Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [ ]:
# Histogram of each variables (filtered data)
plt.figure(figsize=(12, 8))
new_bike_rentals.hist(bins=20, alpha=0.8)
plt.tight_layout()

#### OVERVIEW
- Dependant variable:
    + Total_bikes seems to have some outliers with a lot of bikes compare to the other station
- Independant variables:
    + Rating is not normally distributed, and we could remove the stations below a rating of 6.
    + Popularity looks more like a normal distributon
    + Price still have some outliers above 2. Removing them would center the curve.

In [ ]:
# Validate outliers
plt.figure(figsize=(12, 8))
filtered_rentals[['total_bikes', 'rating', 'popularity', 'price']].boxplot()
plt.tight_layout()

In [ ]:
# Removing outliers
filtered_rentals = (
    filtered_rentals[
        (filtered_rentals['total_bikes'].between(10, 50)) &
        (filtered_rentals['rating'] > 6) &
        (filtered_rentals['price'] < 2)
    ]
)
filtered_rentals.describe()

#### OVERVIEW:
Looks like all the means now are close to the median.

In [ ]:
# Save a copy of the merged data
filtered_rentals.to_csv('../data/bike_rentals.csv', index=None)

### Relationship

In [ ]:
# Visualize relationship with the dependant variable
ind_var = ['rating', 'popularity', 'price']
dep_var = ['total_bikes']

# Create a DataFrame with the variables
vars_to_plot = ind_var + dep_var
data_to_plot = filtered_rentals[vars_to_plot]

# Create a pair plot
g = sns.pairplot(data_to_plot, kind='reg', plot_kws={'line_kws':{'color':'red'}, 'scatter_kws': {'alpha': 0.3}})
g.map_lower(sns.scatterplot, alpha=0.3)

#### OVERVIEW
- The only 'visible' relationship between independant variables is the one between rating and price, thought not strong. We could choose either of them for the modelling.
- As for the relationship between 'total_bikes" and all the independant variables, they are all similar, showing a weak positve relationship.

### CORRELATION

In [ ]:
# Correlation
correlation_matrix = filtered_rentals[['total_bikes', 'rating', 'popularity', 'price']].corr()

# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Heatmap')

#### OVERVIEW
- As expected, rating and price have the strongest correlation. We will use rating for the model since the price is almost the same scale (1 to 2: inexpensive) for every POI.
- All independant variable have the same weak (25%) correlation with the dependant variable. Not really good for our model.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

### Creating functions and connection info

In [ ]:
# Connection function
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [ ]:
# Query function
def execute_query(queries, cursor, data=None, print_message=True):
    try:
        for query in queries:
            if data:
                cursor.execute(query, data)
            else:
                cursor.execute(query)
        
        # Commit only if all statements succeeded
        cursor.connection.commit()
        
        if print_message:
            print("Queries executed successfully")

    except sqlite3.Error as e:
        print("An error occurred:", e)
        # Rollback the transaction in case of error
        cursor.connection.rollback()

### Phase 1a: Create tables<br>
- **stations**: to hold information related to the stations location in the city along with their total bikes
- **pois**: to hold the information about each POI (including rating, popularity, price)
- **categories**: simulates the api category for Foursquare
- **poi_category**: joining table for poi and categories (many-to-many)
- **prices**: to holds the definition of the prices number
- **poi_detail**: creates the relation between data (station, poi_id, distance to the station)

In [ ]:
# CREATE TABLE queries in related order
create_table_queries = [
"""
CREATE TABLE IF NOT EXISTS stations (
  station_id INTEGER PRIMARY KEY AUTOINCREMENT,
  station_name VARCHAR NOT NULL,
  s_lat FLOAT NOT NULL,
  s_lon FLOAT NOT NULL,
  total_bikes INTEGER NOT NULL
);
""",
"""
CREATE TABLE IF NOT EXISTS categories (
  category_id INTEGER PRIMARY KEY,
  category_name VARCHAR NOT NULL
);
""",
"""
CREATE TABLE IF NOT EXISTS prices (
  price INTEGER PRIMARY KEY,
  price_name VARCHAR NOT NULL
);
""",
"""
CREATE TABLE IF NOT EXISTS pois (
  poi_id INTEGER PRIMARY KEY AUTOINCREMENT,
  api_number VARCHAR NOT NULL,
  api_name VARCHAR NOT NULL,
  poi_name VARCHAR NOT NULL,
  p_lat FLOAT NOT NULL,
  p_lon FLOAT NOT NULL,
  rating INTEGER,
  popularity FLOAT,
  price INTEGER,
  FOREIGN KEY (price) REFERENCES prices(price)
);
""",
"""
CREATE TABLE IF NOT EXISTS poi_category (
  poi_id INTEGER NOT NULL,
  category_id INTEGER NOT NULL,
  PRIMARY KEY (poi_id, category_id),
  FOREIGN KEY (poi_id) REFERENCES pois(poi_id),
  FOREIGN KEY (category_id) REFERENCES categories(category_id)
);
""",
"""
CREATE TABLE IF NOT EXISTS poi_detail (
  data_id INTEGER PRIMARY KEY AUTOINCREMENT,
  station_id INTEGER NOT NULL,
  poi_id INTEGER NOT NULL,
  to_station_m INTEGER NOT NULL,
  FOREIGN KEY (station_id) REFERENCES stations(station_id),
  FOREIGN KEY (poi_id) REFERENCES pois(poi_id)
);
"""
]

In [ ]:
# Create connection and cursor
conn = create_connection('../data/mtl_bike_rentals.sqlite')
# Create cursor
cursor = conn.cursor()

In [ ]:
# Call the function to create the tables
execute_query(create_table_queries, cursor)

### Phase 1b: Inserts data in tables

In [ ]:
# Define a function to execute inserts
def execute_inserts(table, query, cursor):

    # Convert DataFrame rows to list of dictionaries
    my_list = table.to_dict(orient='records')

    # Iterate through the list of dictionaries and insert data
    for row in my_list:
        try:
            execute_query(query, cursor, row, print_message=False)

        except sqlite3.Error as e:
            print("An error occurred:", e)
            
    print("Queries executed successfully")

#### Stations table

In [ ]:
# Create query
insert_stations = [
"""
INSERT INTO
  stations (station_id, station_name, s_lat, s_lon, total_bikes)
VALUES
  (:station, :station_name, :latitude, :longitude, :total_bikes);
"""
]

# Insert in table
execute_inserts(stations, insert_stations, cursor)

#### Categories table

In [ ]:
# Create data
categories = (
    fsq_pois[['category_id', 'category_name']]
    .drop_duplicates(subset='category_id')
    .sort_values('category_id')
    .reset_index(drop=True)
)

categories.head()

In [ ]:
# Create query
insert_categories = [
"""
INSERT INTO
  categories (category_id, category_name)
VALUES
  (:category_id, :category_name);
"""
]

# Insert in table
execute_inserts(categories, insert_categories, cursor)

#### Price table

In [ ]:
# Create table

price = {
    1: 'Cheap',
    2: 'Moderate',
    3: 'Expensive',
    4: 'Very Expensive',
}
prices = pd.DataFrame({'price': list(price.keys()), 'price_name': list(price.values())})
prices

In [ ]:
# Create query
insert_prices = [
"""
INSERT INTO
  prices (price, price_name)
VALUES
  (:price, :price_name);
"""
]

# Insert in table
execute_inserts(prices, insert_prices, cursor)

#### POIs table

In [ ]:
# Create table

pois = (
    fsq_pois[['fsq_id', 'name', 'p_lat', 'p_lon', 'rating', 'popularity', 'price']]
    .drop_duplicates(subset='fsq_id')
    .reset_index(drop=True)
)

api_name = 'FourSquare'
pois.insert(loc=1, column='api_name', value=api_name)

pois.head()

In [ ]:
# Save the relation between the index and the fsq_id (for the category_poi table later)

poi_pk = pois[['fsq_id']].copy()
poi_pk['index_number'] = pois.index

poi_pk.head()

In [ ]:
# Create query

insert_pois = [
"""
INSERT INTO
  pois (api_number, api_name, poi_name, p_lat, p_lon, rating, popularity, price)
VALUES
  (:fsq_id, :api_name, :name, :p_lat, :p_lon, :rating, :popularity, :price);
"""
]

# Insert in table
execute_inserts(pois, insert_pois, cursor)

#### POI_category table

In [ ]:
# Create table
fsq_cat = fsq_pois[['fsq_id', 'category_id']]

poi_category = fsq_cat.merge(poi_pk, on='fsq_id', how='left') # poi_pk created in previous query
poi_category.drop(columns='fsq_id', inplace=True)

poi_category.head()

In [ ]:
# Create query
insert_poi_category = [
"""
INSERT INTO
  poi_category (poi_id, category_id)
VALUES
  (:index_number, :category_id);
"""
]

# Insert in table
execute_inserts(poi_category, insert_poi_category, cursor)

#### POI_detail

In [ ]:
# Create table

poi_detail = fsq_pois[['station', 'distance', 'fsq_id']].drop_duplicates()
poi_detail = poi_detail.merge(poi_pk, on='fsq_id', how='left')
poi_detail.drop(columns='fsq_id', inplace=True)

poi_detail.head()

In [ ]:
# Create query

insert_poi_detail = [
"""
INSERT INTO
  poi_detail (station_id, poi_id, to_station_m)
VALUES
  (:station, :index_number, :distance);
"""
]

# Insert in table
execute_inserts(poi_detail, insert_poi_detail, cursor)

In [ ]:
# Close the cursor and connection
cursor.close()
conn.close()

### Phase 2: Read data

Look at the data before and after the join to validate your data.

In [ ]:
# create connection
conn = sqlite3.connect('../data/mtl_bike_rentals.sqlite')

In [ ]:
# all data from db
df_all = pd.read_sql(
    """
    SELECT 
        name
    FROM
        sqlite_master 
    WHERE
        type ='table'
        AND name NOT LIKE 'sqlite_%';
    """, conn
)

# Print the DataFrame
print(df_all)

In [ ]:
# Select data for modeling and compare values to bike.rentals_csv (dataframe)

df_rentals = pd.read_sql(
    """
    SELECT
        s.station_name AS name,
        s.station_id AS station,
        AVG(s.total_bikes) as total_bikes,
        AVG(pd.to_station_m) AS avg_distance_to_station_m,
        AVG(p.rating) AS avg_rating,
        AVG(p.popularity) AS avg_popularity,
        AVG(p.price) AS avg_price
    FROM
        stations s
    JOIN poi_detail pd USING(station_id)
    JOIN pois p USING(poi_id)
    JOIN poi_category USING(poi_id)
    JOIN categories c USING(category_id)
    GROUP BY 1, 2
    HAVING
        total_bikes BETWEEN 10 AND 50
        AND avg_rating >= 6
        AND avg_price <=2
        AND avg_distance_to_station_m > 1000
    ORDER BY 2
    """, conn
)

print(df_rentals)

In [ ]:
df_rentals.describe()

In [ ]:
# Select data for modeling and compare values to bike.rentals_csv (dataframe)

df_stations = pd.read_sql(
    """
    SELECT station_id, poi_id, to_station_m
    FROM
        poi_detail pd
    WHERE
        to_station_m > 10000
    """, conn
)

print(df_stations)